<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Quantum Space Time</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="t07. Go web!" />
  </head>

  <body>
    <h1>Quantum Space Time</h1>
    <p>
      In quantum space you were absent for <%= years %> years, <%= months %>
      months, <%= days %> days.
    </p>
    <a href="/normal">Go to Normal Time</a>
  </body>
</html>
