<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Password Reminder</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <div class="reminder">
        <header>Password Reminder</header>
        <div id="email" style="text-align: center"></div>
        <input id="remind" class="button" value="Send Password" />
      </div>
    </div>
    <script src="/js/script.js"></script>
  </body>
</html>
